<header class='top-nav'>
  <div class='navbar-fixed'>
    <nav class='transparent z-depth-0'>
      <div class='nav-wrapper gray-text container'>
        <ul class='right'>
          <li>
            <a href='#'>Write</a>
          </li>
          <li>
            <a href='#'>Read</a>
          </li>
          <li>
            <a href='#'>About Us</a>
          </li>
          <li>
            <a href='#'>Log In</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<div class='row'>
  <div class='col m6'>
    <section class='slider'>
      <ul class='slides'>
        <li>
          <img class='responsive-img home' src='bc.jpeg'>
        </li>
        <li>
          <img class='responsive-img home' src='syria.jpeg'>
        </li>
        <li>
          <img class='responsive-img home' src='read.jpg'>
        </li>
        <li>
          <img class='responsive-img home' src='water1.jpg'>
        </li>
        <li>
          <img class='responsive-img home' src='venezuela.jpg'>
        </li>
        <li>
          <img class='responsive-img home' src='fire.jpg'>
        </li>
      </ul>
    </section>
  </div>
  <div class='col m5 center' id='description'>
    <h1 style='color: #ffee58; font-family:  "Source Sans Pro" , sans-serif; font-weight: bold;'>INSPIRE</h1>
    <p style='color: gray;'> write, read and inspire for good</p>
    <i class='material-icons' style='color: #ffee58'>all_inclusive</i>

  </div>
</div>

<footer class='page-footer white'>
  <div class='footer-copyright white'>
    <div class='container center'>
      <p style='color:gray'>Inform Navigate Serve Post Invest Reach Educate © </p>
    </div>
  </div>
</footer>


<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/index.js"></script>