<h1>{{article.title}}</h1>
<h4>{{article.author}}</h4>
<p>{{article.body}}</p>


<footer class='page-footer white'>
    <div class='footer-copyright white'>
        <div class='container center'>
            <p style='color:gray'>Inform Navigate Serve Post Invest Reach Educate © </p>
        </div>
    </div>
</footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/index.js"></script>