<header class='top-nav'>
  <div class='navbar-fixed'>
    <nav class='transparent z-depth-0'>
      <div class='nav-wrapper gray-text container'>
        <ul class='right'>
          <li>
            <a href='#'>Write</a>
          </li>
          <li>
            <a href='#'>Read</a>
          </li>
          <li>
            <a href='#'>About Us</a>
          </li>
          <li>
            <a href='#'>Log Out</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<header class='top-nav'>
  <div class='navbar-fixed'>
    <nav class='transparent z-depth-0'>
      <div class='nav-wrapper gray-text container'>
        <ul class='right'>
          <li>
            <a href='#'>Write</a>
          </li>
          <li>
            <a href='#'>Read</a>
          </li>
          <li>
            <a href='#'>Inspire</a>
          </li>
          <li>
            <a href='#'>About Us
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<br>
<div class="row container">
  <h1 style="font-family: 'Dosis', sans-serif; color: #ffee58" class="center">Write</h1>
  <br>
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input id="name" type="text">
        <label for="name"> Author</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="photo" type="text">
        <label for="photo">Photo Link</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="artTitle" type="text">
        <label for="artTitle">Article Title</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea"></textarea>
        <label for="textarea1">Article Body</label>
      </div>
    </div>
  </form>
  <a href="#" class="btn" id="addArt" style="color: gray; background: #ffee58;">Submit</a>
</div>
<footer class='page-footer white'>
  <div class='footer-copyright white'>
    <div class='container center'>
      <p style='color:gray'>Inform Navigate Serve Post Invest Reach Educate © </p>
    </div>
  </div>
</footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/index.js"></script>